@import play.api.Play.current
@(title: String)

<!DOCTYPE html>

<html>
    <head>
    <head>
        <title>@title</title>

        <!-- variables -->
        <script type="application/javascript">
            //TODO have a webservice for that
            window.wc_HTTP_URL = '@current.configuration.getString("url.http")';
            window.wc_HTTPS_URL = '@current.configuration.getString("url.https")';
            window.wc_URL = window.wc_HTTP_URL;
        </script>

        <script src="@routes.Assets.versioned("bower_components/systemjs/dist/system.js")"></script>

        <!-- jquery -->
        <script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.js")" type="text/javascript"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="@routes.Assets.versioned("bower_components/bootstrap/dist/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("bower_components/bootstrap/dist/css/bootstrap-theme.min.css")">
        <script src="@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>


    </head>
    <body>
        <script src="@routes.Assets.versioned("app-bundle.js")"></script>
    </body>
</html>
